button.components-button.btn-align.has-icon {
	margin: 2px;
}
label {
	font-family: "Raleway", sans-serif;
	text-transform: capitalize !important;
	font-size: 13px !important;
	font-weight: 600;
}
span.iconValue {
	text-transform: capitalize;
}
#item.value {
	background-color: red !important;
}
