/*
* Style Works for Editor Only
*/

.wp-block-bdt-advanced-icon-box {
	.block-editor-block-list__layout {
		display: grid;
	}

	[data-type="bdt/icon-box-item"] {
		width: 100%;
	}

	.block-list-appender {
		position: relative !important;
		width: 100% !important;
	}
}

// Inspector Controls style

.components-base-control__field {
	.res-btn {
		button {
			width: 25px;
			height: 25px;
		}
	}
}
