/*
* Style Works for Editor Only
*/

.wp-block-bdt-advanced-icon-box {
	.block-editor-block-list__layout {
		display: grid;
		justify-items: center;
	}
}
//inspect controll
.block-editor-link-control__field > .components-base-control__field {
	width: 210px;
}

button.components-button.block-editor-link-control__search-item-action.has-icon {
	margin-right: 117px;
}

button.components-button.is-primary {
	margin: 5px;
}

.bdt-advanced-icon-box svg {
	width: 25px;
	height: 25px;
}

//icon alignment
