/*
* Style Works for Editor Only
*/

.wp-block-bdt-advanced-icon-box {
	.block-editor-block-list__layout {
		display: grid;
		justify-items: center;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

//inspect controll

.components-tab-panel__tabs {
	width: 100%;

	.bdt-tab {
		border: 1px solid #e0e0e0;
		width: 100%;
		justify-content: center;
		&.active-tab {
			background: #e0e0e0;
		}
	}
}

.res-btn {
	button.components-button {
		margin: 0 2px;
		span.dashicon {
			font-size: 15px;
			width: 15px;
			height: 15px;
		}
	}
}

.components-button-group.units-wrapper {
	button.components-button {
		font-size: 10px;
		width: 30px;
		height: 25px;
	}
}

.block-editor-link-control {
	min-width: 0px !important;
	.block-editor-link-control__field {
		margin: 0px -9px 24px -7px !important;
	}
	.block-editor-link-control__search-submit.has-icon {
		margin-right: -13px;
	}
}

.components-base-control__field {
	input#url-input-control-0 {
		margin: 7px !important;
		padding: 3px 13px 5px 13px !important;
	}
}
