/*
* Style Works for Editor Only
*/

.wp-block-bdt-advanced-icon-box {
	.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2px;
		justify-content: center;
	}
}
