/*
* Style Works for both Editor and Frontend
*/

.wp-block-bdt-advanced-icon-box {
	@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Lato", sans-serif;
	}

	.bdt-advanced-icon-box .bdt-item {
		border: 1px solid rgba(247, 247, 247, 0.829);
		transition: border 0.3s ease;
		position: relative;
		// overflow: hidden;
		border-radius: 10px;
	}
	.bdt-advanced-icon-box .bdt-icon-bg {
		display: inline-block;
		padding: 10px;
	}

	.bdt-advanced-icon-box .bdt-icon-bg svg {
		background: #32de23;
		padding: 10px;
	}

	.bdt-advanced-icon-box .bdt-title {
		margin: 0 0 0 0;
		font-weight: 700;
		text-transform: capitalize;
	}

	.bdt-advanced-icon-box .bdt-desc {
		line-height: 1.6;
	}

	.bdt-advanced-icon-box .bdt-link-btn {
		margin-top: 22px;
	}

	.bdt-advanced-icon-box .bdt-link-btn a,
	.button {
		text-decoration: none;
		border: 1px solid #32de23;
		padding: 10px 15px;
		display: inline-block;
		color: #32de23;
		border-radius: 30px;
		text-transform: capitalize;
		transition: all 0.3s ease;
	}

	.bdt-advanced-icon-box svg {
		width: 25px;
		height: 25px;
	}

	.bdt-advanced-icon-box .bdt-body-content,
	.bdt-advanced-icon-box {
		z-index: 1;
	}
	// .bdt-icon-wrap {
	// 	width: 100%;
	// }
	// .bdt-body-content {
	// 	margin-top: 71px;
	// }

	.bdt-advanced-icon-box .bdt-hover-icon svg {
		width: 50px;
		height: 50px;
		color: #495074d1;
	}

	/* advanced icon box style 1 css  */

	/* ===========================================  */

	.bdt-avnaced-icon-box-style-1 .bdt-hover-icon {
		display: none;
	}

	.bdt-advanced-icon-box .bdt-item {
		padding: 10px;
		margin: 5px;
		word-break: break-all;
		overflow-wrap: break-word;
	}

	.bdt-advanced-icon-box svg {
		width: 30px;
		height: 30px;
	}
}
